*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #aa8e96;
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
}
#part2{
    height: 100%;
    width: 68%;
    background-image: url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(161,145, 149,0.616);
}

#part3{
    height: 100%;
    width: 6%;
}
#text-div{
   height: 400px;
   position: absolute;
   width: 400px;
   left: 7%;
   top: 50%;
   transform: translate(0 ,-50%);
}
#text-div h1{
   font-size: 85px;
   font-weight: 800;
   color: #fff;
   text-transform: uppercase;
   line-height: 78px;
   letter-spacing: 5px;
}
#small-img-div{
    width: 250px;
    height: 300px;
    position: absolute;
    top: 50%;
    right: 5%;
    background-image: url("https://images.unsplash.com/photo-1529139574466-a303027c1d8b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0, -50%);
}
#vertical-text{
    position: absolute;
    width: 100%;
    right: -93%;
    display: flex;
    top: -6%;
    transform-origin: 0% 0%;
    transform: rotate(90deg);
}
#vertical-text h1{
    font-size: 70px;
    font-weight: 900;
    color: transparent;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#fff ;
    text-transform: uppercase;
}
#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    top: 5%;
    left: 7%;
}
#nav img{
    height: 60px;
}